.wrapper{
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'ProximaNova',sans-serif;
    border: 1px solid transparent;
    background-color:var(--white) !important;
    user-select: none;
    + .wrapper{
        margin-left: 8px;
    }
    &.disable{
        pointer-events: none;
        opacity: 0.5;
    }
}
.icon + .title , .title + .icon{
    margin-left: 8px; 
}
.primary{
    background-color: var(--primary) !important;
    color:#fff !important;
    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    } 
}

.outline{
    color: var(--primary);
    border-color: var(--primary);
    
    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
    } 
}
//Button sizes 
.small{
    min-width: 88px;
    padding:4px 16px;
}
.large{
    min-width: 140px;
    padding: 14px 16px;
}
.text{
    &:hover{text-decoration:underline}
}
.rounded{
    border-radius:999px ;
    box-shadow: 0 2px 8px rgb(0 0 0/6%);
    border-color: rgba(22,24, 35,0.12);
    &:hover{
        border-color: rgba(22,24, 35,0.2);
        background-color:rgba(22,24,35,0.03);
    }
}
.following{
    width: 100px !important;
    height: 35px !important;
}

