.menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 8px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    &:hover {
        background-color: rgb(22, 24, 35, 0.03);
    }
}
.title {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.active {
    color: rgb(236, 61, 90) !important;
}
//Menu component
.wrapper {
    border-bottom: 2px solid rgba(13, 14, 19, 0.07);
    margin-bottom: 10px;
}
.menu-wrapper {
    color: rgba(13, 14, 19, 0.4);
    font-size: 1.4rem;
}
.wrapper-title {
    padding: 10px;
}
.wrapper-item {
    margin-top: 10px;
    a {
        border-radius: 4px;
        padding: 8px;
    }
}
